<form class="modal-dialog" role="document" novalidate>
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h5 class="modal-title">{{ strings.NEW_ADDRESS }}</h5>
    </div>

    <div class="modal-body" ng-show="forms.createAddress.step == 1">
      <p class="small">{{ strings.NEW_ADDRESS_TEXT }}</p>
      <div class="row">
        <div class="col-md-6">
          <label>{{ strings.TYPE }}</label>
          <select class="form-control" ng-model="forms.createAddress.type">
            <option value="nxt">{{ strings.NXT }}</option>
          </select>
        </div>
        <div class="col-md-6">
          <label>{{ strings.CATEGORY }}</label>
          <div class="input-group">
            <div class="input-group-addon">
              <span class="icon" ng-class="forms.createAddress.category.icon"></span>
            </div>
            <select class="form-control"
                    ng-model="forms.createAddress.category"
                    ng-options="category.title for category in addressCategories">
            </select>
          </div>
        </div>
      </div>
      <label>{{ strings.LABEL }}</label>
      <input type="text" class="form-control" ng-model="forms.createAddress.label">
      <label>{{ strings.PASSPHRASE }}</label>
      <textarea class="form-control" ng-model="forms.createAddress.passphrase" rows="3"></textarea>
      <button class="btn btn-default" ng-click="generatePassphrase()">
        <span class="icon icon-arrows-ccw icon-text"></span>
        {{ strings.BTN_GENERATE }}
      </button>
    </div>


    <div class="modal-body" ng-show="forms.createAddress.step == 2">

      <table class="table table-condensed">
        <tbody>
          <tr>
            <td>{{ strings.TYPE }}</td>
            <td>{{ forms.createAddress.type }}</td>
          </tr>
          <tr>
            <td>{{ strings.CATEGORY }}</td>
            <td>{{ forms.createAddress.category.title }}</td>
          </tr>
          <tr>
            <td>{{ strings.LABEL }}</td>
            <td>{{ forms.createAddress.label }}</td>
          </tr>
          <tr>
            <td>{{ strings.ADDRESS }}</td>
            <td>{{ forms.createAddress.address }}</td>
          </tr>
          <tr>
            <td>{{ strings.PUBLIC_KEY }}</td>
            <td>{{ forms.createAddress.publicKey }}</td>
          </tr>
<!--          <tr>
            <td>{{ strings.PRIVATE_KEY }}</td>
            <td>{{ forms.createAddress.type == 'nxt' ? forms.createAddress.passphrase : forms.createAddress.privateKey }}</td>
          </tr>-->
        </tbody>
      </table>

    </div>


    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        {{ strings.BTN_CLOSE }}
      </button>
      <button type="button" class="btn btn-default"
              ng-click="forms.createAddress.step = forms.createAddress.step - 1"
              ng-show="forms.createAddress.step > 1">
        {{ strings.BTN_BACK }}
      </button>
      <button type="button" class="btn btn-default"
              ng-click="createAddress()"
              ng-show="forms.createAddress.step == 1">
        {{ strings.BTN_CONTINUE }}
      </button>
      <button type="button" class="btn btn-default"
              ng-click="saveAddress()"
              ng-show="forms.createAddress.step == 2">
        {{ strings.BTN_SAVE }}
      </button>
    </div>

  </div><!-- /.modal-content -->

</form><!-- /.modal-dialog -->
