<form class="modal-dialog" role="document" novalidate>
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h5 class="modal-title">{{ strings.EXPORT }}</h5>
    </div>

    <div class="modal-body">

      <div class="radio">
        <label>
          <input type="radio" ng-model="forms.exportKeys.format" value="encrypted">
          {{ strings.ENCRYPTED }}
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio" ng-model="forms.exportKeys.format" value="json">
          {{ strings.CLEAR_TEXT }}
        </label>
      </div>

      <label>{{ strings.TARGET_DIR }}</label>
      <input type="text" class="form-control" ng-model="forms.exportKeys.targetDir">
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        {{ strings.BTN_CLOSE }}
      </button>
      <button type="button" class="btn btn-default"
              ng-click="exportKeys()">
        {{ strings.EXPORT }}
      </button>
    </div>

  </div><!-- /.modal-content -->

</form><!-- /.modal-dialog -->
