<div class="panel panel-default" style="margin-bottom:0">
  <div class="panel-heading">{{ addressToDisplay.address }}</div>
  <div class="panel-body small">

    <dl class="dl-horizontal">
      <dt>NXT Balance</dt>
      <dd>{{ addressToDisplay.balanceNxt | formatCurrency:8 }}</dd>
      <dt>Public key</dt>
      <dd>{{ addressToDisplay.publicKey }}</dd>
      <dt>Assets owned</dt>
      <dd>{{ addressToDisplay.numAssets }}</dd>
      <dt>Currencies owned</dt>
      <dd>{{ addressToDisplay.numCurrencies }}</dd>
      <dt>Aliases owned</dt>
      <dd>{{ addressToDisplay.numAliases }}</dd>
    </dl>
  </div>
</div>

{{ txList }}

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>From / To</th>
      <th>Amount</th>
      <th>Fee</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="tx in txList">
      <td>{{ tx.timestamp | nxtTime | date }}</td>
      <td>
        <span class="icon"
              ng-class="{'icon-right-open-big': tx.senderRS === addressToDisplay.address, 'icon-left-open-big': tx.senderRS !== addressToDisplay.address}">
        </span>
      </td>
      <td>{{ tx.senderRS === addressToDisplay.address ? tx.recipientRS : tx.senderRS }}</td>
      <td>{{ tx.amountNQT | formatCurrency:8 }}</td>
      <td>{{ tx.feeNQT | formatCurrency:8 }}</td>
      <td>
        <button class="btn btn-mini btn-default" data-toggle="modal" data-target="#modalEditAccount"
                ng-click="setAddressToEdit(address)">
          <span class="icon icon-eye"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<p class="text-left">Page {{ txListPage }} / {{ getTxNumPages() }} (Showing max. 100 items)</p>

<nav>
  <ul class="pager">
    <li ng-show="txListPage > 1">
      <a href="#" ng-click="setTxListPage(txListPage - 1)">Previous</a>
    </li>
    <li ng-show="showTxListNextButton()">
      <a href="#" ng-click="setTxListPage(txListPage + 1)">Next</a>
    </li>
  </ul>
</nav>
