<table class="table table-condensed">
  <thead>
    <tr>
      <th>{{ strings.ASSET }}</th>
      <th>{{ strings.NUM_ADDRESSES }}</th>
      <th>{{ strings.TOTAL }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ strings.NXT }}</td>
      <td>{{ balances.nxt.length }}</td>
      <td>
        {{ balances.total.nxt.confirmed | formatCurrency:8 }}
        <span ng-show="balances.total.nxt.unconfirmed !== 0">
          ({{ balances.total.nxt.unconfirmed | formatCurrency:8 }})
        </span>
      </td>
    </tr>
    <tr ng-repeat="(key, asset) in balances.total.assets">
      <td>{{ balances.assets[key][0].name }}</td>
      <td>{{ balances.assets[key].length }}</td>
      <td>
        {{ asset.confirmed | formatCurrency:balances.assets[key][0].decimals }}
        <span ng-show="asset.unconfirmed !== 0">
          ({{ asset.unconfirmed | formatCurrency:balances.assets[key][0].decimals }})
        </span>
      </td>
    </tr>
    <tr ng-repeat="(key, currency) in balances.total.currencies">
      <td>{{ balances.currencies[key][0].name }}</td>
      <td>{{ balances.currencies[key].length }}</td>
      <td>
        {{ currency.confirmed | formatCurrency:balances.currencies[key][0].decimals }}
        <span ng-show="currency.unconfirmed !== 0">
          ({{ currency.unconfirmed | formatCurrency:balances.currencies[key][0].decimals }})
        </span>
      </td>
    </tr>
  </tbody>
</table>
