<nav class="nav-group">
  <span class="nav-group-item"
        ng-click="setPage('balances')"
        ng-class="{'active': page == 'balances' }">
    <span class="icon icon-chart-pie"></span>
    {{ strings.BALANCES }}
  </span>
  <span class="nav-group-item"
        ng-click="setPage('keys')"
        ng-class="{'active': page == 'keys' }">
    <span class="icon icon-key"></span>
    {{ strings.KEYS }}
  </span>
</nav>

<nav class="nav-group">
  <h5 class="nav-group-title" ng-show="addresses.length > 0">{{ strings.ADDRESSES }}</h5>
  <span class="nav-group-item" href="#"
        ng-repeat="address in addresses"
        ng-click="setPage('address', address)"
        ng-class="{'active': page == 'address' && addressToDisplay.address == address.address }">
    <span class="icon" ng-class="getIconClass(address.category)"></span>
    {{ address.label ? address.label : address.address }}
  </span>
</nav>
